<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318824026215-j7bdcgo8hj2p8p3h9oup0i1oqt1n8brs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318824026215-j7bdcgo8hj2p8p3h9oup0i1oqt1n8brs</string>
	<key>API_KEY</key>
	<string>AIzaSyDtETIGfEOoi-hU-VddzY1-lp8uvWa9Rto</string>
	<key>GCM_SENDER_ID</key>
	<string>318824026215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techdot.balancedWorkout</string>
	<key>PROJECT_ID</key>
	<string>balanced-workout</string>
	<key>STORAGE_BUCKET</key>
	<string>balanced-workout.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318824026215:ios:cac0ff77900775a075c4c2</string>
</dict>
</plist>